$color_2: #767fe5;
$color_1: #62c1fc;

.main_container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, $color_1 70%, $color_2);
}

.upper {
  width: 100%;
  height: 30%;
  padding: 2rem 1rem;

  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  gap: 2rem;
  position: relative;

  .top_curve {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .grad_cap {
    width: 5rem;
    height: 5rem;

    background: center no-repeat url(../../assets/book.svg);
    background-size: 100%;

    position: absolute;
    bottom: -10%;
    right: 0;
    transform: scaleX(-1);
  }
  .container_upper_1 {
    width: 100%;
    height: 20%;
    // outline: 1px solid yellow;
  }

  .container_upper_2 {
    // outline: 1px solid greenyellow;
    display: flex;
    flex-direction: column;

    color: rgb(255, 255, 255);

    .span_user {
      font-size: 1.6rem;
    }
  }
}

.img_back {
  height: 100%;
}

.span_subheader {
  color: rgba(255, 255, 255, 0.527);
}
.span_header {
  font-weight: 700;
}

.lower {
  width: 100%;
  height: 70%;
  background: white;
  border-top-left-radius: 4rem;

  z-index: 2;
  position: relative;
  padding: 2rem 1rem;
}

.lower_container_1 {
  // outline: 1px solid red;
  width: 100%;
  height: 40%;

  display: flex;
  flex-direction: column;

  .wrapper_subjects {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem;

    overflow: auto;

    .box_subject {
      width: 30%;
      height: 100%;
      padding: 1rem;
      border-radius: 1rem;
      flex: 0 0 auto;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    .span_subject_title{
      font-weight: 700;
      color: #3D4765;
    }
    .span_subject_code{
      font-size: .8rem;
      color: #3d4765da;
    }
  }
}

.lower_container_2 {
  // outline: 1px solid yellow;
  width: 100%;
  height: 60%;

  .wrapper_topics::-webkit-scrollbar{
    display: none;
  }

  .wrapper_topics {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    scrollbar-width: none;

    .box_topics {
      width: 100%;
      min-height: 45%;
      
      border-radius: 1.5rem;
      display: flex;

      background: #f3f5fc;
      
      .sec_1,.sec_2,.sec_3{
        height: 100%;
      }

      .sec_1 {
        width: 30%;
        padding: 1rem;

        .background_holder{
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          background: no-repeat center url(../../assets/bg.svg);
          background-size: cover;
          
        }
      }
      .sec_2 {
        width: 55%;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        .span_top_text,.span_main_text,.span_bottom_text{
          white-space: nowrap;
        }

        .span_top_text{
          color: #66C2E9;
          font-size: .8rem;
        }
        .span_main_text{
          font-weight: 700;
        }
        .span_bottom_text{
          font-size: .7rem;
        }
      }
      .sec_3 {
        width: 15%;
        background: black;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
      }
    }
  }
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
